<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/context
         https://www.springframework.org/schema/context/spring-context.xsd"
>
  <import resource="datasource.xml"/>
  <context:annotation-config/>
  <context:property-placeholder location="datasource.properties"/>

  <bean id="customEditorConfigurer"
      class="org.springframework.beans.factory.config.CustomEditorConfigurer">
    <property name="propertyEditorRegistrars">
      <list>
        <bean id="dataSourceEditor"
            class="com.sheepfly.springpro.chapter10.config.DataSourceEditorConfigurer"/>
      </list>
    </property>
  </bean>

  <bean id="person"
      class="com.sheepfly.springpro.chapter10.bean.Person">
    <property name="username" value="张三"/>
    <property name="age" value="12"/>
    <property name="gender" value="男"/>
  </bean>

  <bean id="conversionServiceFactoryBean"
      class="org.springframework.context.support.ConversionServiceFactoryBean">
    <property name="converters">
      <set value-type="org.springframework.core.convert.converter.Converter">
        <bean id="userConvert" class="com.sheepfly.springpro.chapter10.convert.UserConvert"/>
      </set>
    </property>
  </bean>

  <bean id="company" class="com.sheepfly.springpro.chapter10.bean.Company">
    <property name="person" ref="person"/>
  </bean>
</beans>
