<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans.xsd
          http://www.springframework.org/schema/context
          http://www.springframework.org/schema/context/spring-context.xsd">
  <context:component-scan base-package="com.sheepfly.springpro.chapter6.section9"/>
  <bean id="config"
        class="org.springframework.core.io.ClassPathResource">
    <constructor-arg value="section9/datasource.properties"/>
  </bean>
  <bean id="placeHolder"
        class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
    <property name="location" ref="config"/>
  </bean>

  <bean id="sqliteDataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource"
        p:driverClassName="org.sqlite.JDBC"
        p:url="${jdbc.sqlite.url}"
  />

  <bean id="dataSource"
        class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="${jdbc.driver}"/>
    <property name="url" value="${jdbc.url}"/>
    <property name="username" value="${jdbc.username}"/>
    <property name="password" value="${jdbc.password}"/>
  </bean>

  <bean id="jdbcTemplate"
        class="org.springframework.jdbc.core.JdbcTemplate"
        p:dataSource-ref="dataSource"
  />

  <bean id="namedJdbcTemplate"
        class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
        c:dataSource-ref="dataSource"
  />


  <bean id="sqliteJdbcTemplate"
        class="org.springframework.jdbc.core.JdbcTemplate"
        p:dataSource-ref="sqliteDataSource"
  />

  <bean id="sqliteNamedJdbcTemplate"
        class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate"
        c:dataSource-ref="sqliteDataSource"
  />
</beans>